#eeg_pic_but{
  position: relative;
  float: right;
  max-width: 15%;
  max-height: 20%;
  margin-right: 5%;
}

#flot-placeholder{
  float:left;
  width:90%;
  height:100%;
}
input[type="checkbox"]{
  display: none;
}
label::before{
  content: "click me"
}

label:hover{
  cursor: pointer;
}

input:checked+label::before{
  background-color: pink;
  content: "is click";
  width:200px;
}

label{
  width: 100px;
  height: 100px;
}
