#eeg_pic_but{
  position: relative;
  float: right;
  max-width: 15%;
  max-height: 20%;
  margin-right: 5%;
}

#flot-placeholder{
  float:left;
  width:90%;
  height:100%;
}
div#select_censor input[type="checkbox"]{
  display: none;
}
div#select_censor label::before{
  content: "click me";
}

div#select_censor input:checked+label::before{
  content: "is click";
  background-color: pink;
  width:200px;
}

label:hover{
  cursor: pointer;
}

label{
  width: 100px;
  height: 100px;
}
